html
  head
    title Grid

    style(type="text/css").
      body {
        background: white;
        height: 100%;
        width: 100%;
      }

      .container {
        display: grid;
        grid-template-columns: repeat(#{column}, 1fr);       
          grid-auto-rows: 200px;
      }

      .grid-item {
        background: yellow;
      }

  body
    .container
      - let totalGridItemsCount  = column * row;
    
        while totalGridItemsCount > 0
          - totalGridItemsCount=totalGridItemsCount-1;
          .grid-item #{totalGridItemsCount}